.header {
	font-size: 36px;
	text-align: center;
	padding: 20px;
}

main {
	font-family: Geneva, 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
	background-color: rgba(179, 201, 189, 0.26);
	max-width: 100%;
}

.section-one {
	display: block;
	padding: 20px;
}

.section-two {
	display: block;
	padding: 20px;
}

h1 {
	font-size: 46px;
	line-height: 1.0;
	width: 220px;
}

h2 {
	font-size: 22px;
}

.profile-image {
	display: none;
}

.my-projects-header {
	text-align: center;
}

.section-three {
	display: flex;
	gap: 20px;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 20px;
	padding-bottom: 80px;
}

.card {
	display: grid;
	grid-template-rows: 1fr;
	max-width: 300px;
	padding: 20px;
	background-color: rgba(179, 201, 189, 1);
	text-align: center;
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
}

.card-text {
	padding-bottom: 20px;
	text-align: left;
}

.card-image {
	width: 100%;
	height: 200px;
	object-fit: cover;
	padding-top: 10px;
	padding-bottom: 10px;
}

.button {
	width: 120px;
	background-color: rgba(242, 255, 242, 1);
	border: none;
	padding: 4px;
	margin-top: 15px;
}

.button:hover {
	background-color: rgba(56, 109, 77, 1);
	color: white;
}

.button a {
	font-size: 16px;
	color: black;
	text-decoration: none;
	display: block;
}

.button a:hover {
	color: white;
}

@media(min-width:600px) {

	h2 {
		font-size: 32px;
	}

	.my-projects-header {
		padding-top: 80px;
	}

	h3 {
		font-size: 22px;
	}

	.section-three {
		flex-wrap: wrap;
	}

}


@media(min-width:850px) {
	
	.section-two div {
		display: flex;
	}

	.my-projects-header {
		padding-top: 40px;
	}

	.about-me-text {
		font-size: 20px;
	}

}

@media(min-width:1100px) {

	.section-one {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 5px;
		padding-top: 60px;
	}

	.box-two {
		text-align: center;
		width: 400px;
	}

	.box-three {
		height: 250px;
		width: 250px;
		overflow: hidden;
		border-radius: 50%;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
	}

	.profile-image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.about-me-header {
		padding-left: 50px;
	}

	.about-me-text {
		display: flex;
		padding: 0px 50px;
	}

}

@media(min-width:1200px) {

	.about-me-text, .about-me-header {
		padding: 0px 120px;
	}

}